################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/e-shop/.vs/e-shop
/e-shop/e-shop/bin/Debug/netcoreapp3.1
/e-shop/e-shop/obj
/e-shop/e-shop/wwwroot/lib
